<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">                    
 
    <!-- scan the package and the sub package -->
    <context:component-scan base-package="psn.ifplusor"/>
 
    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler />
 
    <!-- if you use annotation you must configure following setting -->
    <mvc:annotation-driven />
    
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">  
        <property name="mediaTypes">  
            <value>  
                html=text/html  
                json=application/json  
                xml=application/xml
            </value>  
        </property>  
        <property name="defaultContentType" value="text/html"/>  
    </bean>  
    
    <!-- ContentNegotiatingViewResolver视图解析器,利用他就可以配置多种返回值 -->
 	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">    
   		<property name="order" value="0"/>  
        <property name="contentNegotiationManager" ref="contentNegotiationManager"/>  
    
   		<property name="viewResolvers">  
            <list>  
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
                    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
                    <property name="prefix" value="/WEB-INF/jsp/"/>  
                    <property name="suffix" value=".jsp"></property>  
                </bean>  
            </list>  
        </property>  
   		
    	<property name="defaultViews">  
            <list>  
                <bean  class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">        
         			<property  name="extractValueFromSingleKeyModel" value="true" />     
      			</bean>        
      			<bean  class="org.springframework.web.servlet.view.xml.MarshallingView">      
       				<property name="marshaller">        
        				<bean  class="org.springframework.oxm.xstream.XStreamMarshaller" />        
      				</property>      
      			</bean>      
            </list>  
        </property>  
  	</bean>
</beans>